tr {
  background: #f6f6f6;
  text-align: center;
  border: 0px; }

tr:nth-of-type(2n) {
  background: #cccbcb; }

td {
  width: 30px;
  border: 0px; }
  td#hov {
    background: #3b9e7d; }

div.error {
  background-color: red; }

input#error {
  background-color: red; }
